/* IMPORT FONT */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap%27');


/*  */

body {
    margin: 0;

}

.events_area {
    display: flex;
    flex-direction: row;
    background-image: url(../images/background_event3.jpg);
    background-size: cover;

}

.more_area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #e8eef3;

}

.h1_more{
    font-family: 'Poppins', sans-serif;
    color: black;
    text-transform: uppercase; 
    text-align: left; 
    margin-left: 10px;

}

.more_card {
    width: 100%;

}

.morecard_info {
    margin-left: 45px;

}

.positioner_morecard {
    display: flex;
    flex-direction: row;

}

.positioner_morecard img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 30px;

}

.more_card h1 {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: left;
    text-transform: uppercase;

}

.more_card p {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: left;
    padding: 10px;
    margin-left: 45px;
    width: 60%;
    border-radius: 7px;
    background-color: #d5d9dd;



}

.more_card a {
    text-decoration: none;
    color: #9b59b6;
    border-radius: 15px;
    padding: 5px;
    transition: 200ms;

}

.more_card a:hover {
   text-decoration: underline;
}

.profile_area {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    border-radius: 7px;
    padding: 10px;

}

.profile_area img {
    width: 90px;
    height: 90px;
    margin-top: 20px;
    border-radius: 100%;

}

.profile_comment {
    font-size: 15px;
    margin-top: 35px;

}

.content_site {
    /* min-width: 750px; */
    max-width: 100%;

}

.topnav {
    background-color: rgba(44, 62, 80, 0.03); 
    padding-bottom: 25px;
    width: 100%;

}

.topnav img {
    width: 150px;
    margin-left: 45px;
    margin-top: 15px;
    filter: brightness(90%);
    transition: 200ms ease-in;

}

.topnav img:hover {
    cursor: pointer;
    filter: brightness(100%);
    transform: scale(1.03);

}

.topnav_right {
    margin-top: 40px;
    float: right;
    text-align: right;
    background-color: rgba(44, 62, 80, 0.05);
    padding: 15px;
    border-radius: 25px;
    margin-right: 45px; 
    transition: 200ms ease-out;
}

.topnav_right:hover {
    background-color: rgba(44, 62, 80, 0.25); 

}

.topnav_right a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: black;
    margin-bottom: 0px;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 25px;
    transition: 200ms ease-in;

}

.topnav_right a:hover {
    color: white;
    background-color: #9b59b6;

}

.header_spacer {
    height: 25px;

}

.headerimg {
    /* Positioning image background */
    width: 100%;
    height: 350px;
    background-image: url(../images/foto\ 4.png);
    background-size: cover;
    margin-top: 0px;
    
}

.headerimg h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 65px;
    letter-spacing: 15px;

}

.headerimg p {
    font-family: 'Poppins', sans-serif;
    color: white;    
    text-align: center;
    font-size: 15px;
    letter-spacing: 5px;

}

.button_header {    
    text-align: center;

}

.button_header a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    background-color: white;
    color: black;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 25px;
    font-size: 17px;
    transition: 200ms ease-in;

}

.button_header a:hover {
    color: white;
    background-color: #9b59b6; 
    box-shadow: 0px 0px 26px 6px rgba(0,0,0,0.35);

}

.events_area {
    display: flex;
    flex-direction: row;

}

.search_buttons {
    display: flex;
    flex-direction: column;
    width: auto;

}

.eventsearch_area {
    width: 250px;
    background-color: #e8eef3;
    padding: 10px;
    transition: 200ms ease-in;
    border-radius: 0px 0px 10px 7px;
}

.eventsearch_area:hover {
    background-color: #e9ebed93;

}

.eventsearch_area h1 {
    font-family: 'Poppins', sans-serif;
    color: black;
    

}

.eventsearch_area p {
    font-family: 'Poppins', sans-serif;
    color: black;

}

.eventsearch_area a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
    background-color: rgba(131, 131, 131, 0.1);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 25px;
    transition: 200ms ease-in;

}

.eventsearch_area a:hover {
    background-color: rgba(155, 89, 182, 0.3);
}

#active {
    background-color: #9b59b6;
    color: white;

}

.card_position {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
    margin-left: 30%;

}

.event_card {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 220px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 7px 0px 0px 7px;
    background-color: #e8eef3;
    transition: 200ms ease-in;

}

.event_card:hover {
    cursor: pointer;
    background-color: #e9ebed93;
    transform: scale(1.03); 

}

.eventtext h1 { 
    font-family: 'Poppins', sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 15px;


}

.eventtext p {
    font-family: 'Poppins', sans-serif;
    color: black; 
    font-size: 12px;   
    

}

.data_event {
    display: flex;
    flex-direction: row;

}

.data_event p {
    font-size: 12px;
    background-color: rgba(189, 195, 199, 0.6);
    width: 400px;
    padding: 5px;
    border-radius: 25px;
    font-size: 12px;
    width: auto;
    text-transform: uppercase;
    margin-right: 15px;

}

.event_card img {
    width: 250px;
    height: auto;
    border-radius: 7px 0px 0px 7px;
    filter: brightness(80%);
    transition: 200ms ease-in;

}

.event_card img:hover {
    filter: brightness(100%);
    transform: scale(1.1);

}

.eventtext {
    margin-left: 25px;
    margin-right: 15px;

}

.tags_event {
    display: flex;
    flex-direction: row;

}

.tags_event p {
    margin-right: 15px;
    text-transform: uppercase;
    font-size: 10px;
    padding: 6px;
    border-radius: 7px;
    background-color: rgba(155, 89, 182, 0.3);

}


/* MEDIA QUERIES */

@media only screen and ( max-width: 750px) {

    .topnav {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .topnav_right {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        margin-right: 55px;
        margin-left: 55px;
        margin-top: 5px;
        transition: 0ms;

    }

    .topnav_right a {
        text-align: center;
        transition: 0ms;


    }

    .topnav_right a:hover {
        background-color: #9b59b6;

    }

    .topnav_right:hover {
        background-color: white;

    }

    .topnav img {
        width: 200px;
        display: flex;
        justify-content: center;
        filter: none;
        margin: 0 auto;
        margin-top: 0px;
        filter: brightness(100%);
        transition: 0ms;

    }

    .topnav img:hover {
        transform: scale(1);

    }

    .headerimg h1 {
        font-size: 55px;

    }

    .headerimg p {
        font-size: 10px;

    }

    .button_header a{
        font-size: 15px;
        transition: 0ms;

    }

    .header_spacer {
        height: 10px;
        background-color: rgba(245, 245, 245, 0);

    }

    .eventsearch_area {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .search_buttons {
        display: flex;
        justify-content: center;
        flex-direction: row;

    }

    .search_buttons a {
        padding: 5px;
        margin-right: 5px;

    }

    .events_area h1 ,p{
        text-align: center;

    }

    .card_position {
        display: flex;
        justify-content: center;

    }

    .event_card {
        margin-left: 0px;
        height: 250px;
        transition: 0ms;

    }

    .event_card:hover {
        transform: scale(1);

    }

    .event_card img {
        width: 250px;
        height: auto;
        transition: 0ms;

    }

    .event_card img:hover {
        transform: scale(1);
        filter: brightness(80%);

    }

    .events_area {
        display: flex;
        flex-direction: column;
        background-image: url(../images/background_event3.jpg);
        background-size: cover;

    }

}

@media only screen and (max-width: 1600px){
    .card_position {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        overflow: hidden;
        margin-left: 5%;
    }
}

@media only screen and (max-width: 1300px){
    .card_position {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        overflow: hidden;
        margin-left: 0%;
    }

    .event_card{
        border-radius: 0px 0px 0px 0px;      
    }

    .event_card img{
        border-radius: 0px 0px 0px 0px;
    }

}






@media only screen and (max-width: 1075px){
    .card_position p{
        font-size: 9px;
    }
    
}

@media only screen and (max-width: 900px){
    .card_position p{
        font-size: 7px;
    }

    .search_buttons{
        font-size: 7px;
    }

    .eventtext p{
        max-width: 220px;
    }
}

@media only screen and (max-width: 517px){
    
    .search_buttons{
        font-size: 5px;
    }

    

    .event_card img{
        width: 150px;
        height: 150px;
    }

}

@media only screen and (max-width: 400px){
    .card_position p{
        font-size: 4px;
    }
    
    .event_card{
        width: 375px;
        height: 150px;
        border-radius: 0px;
    }
}





@media only screen and (min-width: 3000px){
    .eventsearch_area{
        height: 1000px;
    }
    
}

.about_cantine {
    margin-left: 45px;

}

.h1_textcantine {
    display: flex;
    flex-direction: row;

}
.h1_textcantine #new {
    background-color: #ffc03a;
    color: white;
    padding: 10px;
    border-radius: 15px;

}

.about_cantine h1 {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-transform: uppercase; 
    text-align: left;
    margin-left: 15px;

}

.about_cantine img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 30px;

}

.info_cantine p {
    font-family: 'Poppins', sans-serif;
    color: black;
    padding: 10px;
    margin-left: 45px;
    border-radius: 7px;
    background-color: #d5d9dd;
    width: 60%;

}

.info_cantine a {
    text-decoration: none;
    color: #9b59b6;
    border-radius: 15px;
    padding: 5px;
    transition: 200ms; 

}

.info_cantine a:hover {
    text-decoration: underline;

}

.button_cantine {
    text-align: left;
    margin-left: 45px;

}

.button_cantine a {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    background-color: white;
    transition: 200ms ease-in;

}

.button_cantine a:hover {
    text-decoration: none;
    color: white;
    background-color: #9b59b6;

}

#last_header {
    margin-bottom: 100px;

}

.footer_page {
    display: flex;
    flex-direction: column;

}

.footergray {
    background-color: #d5d9dd;
    width: 100%;
    height: 100px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.sponmarg {
    margin-right: 100px;

}

.sponsors a {
    filter: opacity(60%);
    transition: 200ms ease-in;

}

.sponsors a:hover {
    filter: opacity(100%);

}

#spo1 {
    width: 50px;
    margin-top: 10px;

}

#spo2 {
    width: 50px;

}

#spo3 {
    width: 70px;

}

#spo4 {
    width: 90px;

}

.footerwhite {
    background-color: white;
    width: 100%;
    height: 300px;

}

.spons_pos {
    display: flex;
    justify-content: space-around;

}

.spons_card h1 {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 25px;

}

.spons_card p {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-transform: none

}

.imgspons {
    display: flex;
    flex-direction: row;
    justify-content: left;

}

.imgspons img {
    width: 40px;
    filter: opacity(50%);
    transition: 200ms ease-in;

}

.imgspons img:hover {
    cursor: pointer;
    filter: opacity(100%);

}

.imgspmar {
    margin-right: 10px;

}

#sponscenter {
    text-align: center;
}

#sponsleft {
    text-align: left;

}

.h1_textcantine #new {
    background-color: #ffc03a;
    color: white;
    padding: 10px;
    border-radius: 15px;
    animation: infinite newlogo 1s ease-in-out;

}

/* ANIMATION */

@keyframes newlogo {
    0% {
       background-color: #ffc03a;
       transform: scale(1); 
    }
    50% {
        background-color: #ffd885;
        transform: scale(1.02);

    }
    100% {
        transform: scale(1);

    }
}

/*  */


@media only screen and (max-width: 750px){
    .sponmarg{
        margin-right:10px;
    }

    .footerwhite p{
        font-size: 5px;
    }

    .footerwhite h1{
        font-size: 10px;
    }

    .eventsearch_area {
        padding: 0px;
    }
}

@media only screen and (max-width: 400px){
    .h1_textcantine h1{
        font-size: 20px;
    }

    
}